#headline{
    padding: 1em;
    background-color: #233C8A;
    color: white;
    h4{
        color: gold;
    }
    p{
        font-size: 1.3em;
        font-weight: Lato;
        text-align: center;
    }
}